In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import glob
import os

# from matplotlib import style
# style.use('ggplot')

# Below line of code sets the notebook to not give warnings while running any code.
import warnings
warnings.filterwarnings('ignore')

# Below line of code makes the notebook print the graph below the code instead of a pop-up graph.
%matplotlib inline

# Below code removes the limit of printing number of columns in pandas dataframe.
pd.options.display.max_columns = None

In [2]:
bit_df = pd.read_csv('Data/bitcoin.csv')
bit_df.head()

,Unnamed: 0,datetime,high,low,open,volumefrom,volumeto,close,hourly_volume,top_tier_volume_quote,top_tier_volume_base,top_tier_volume_total,cccagg_volume_quote,cccagg_volume_base,cccagg_volume_total,total_volume_quote,total_volume_base,total_volume_total,eth_open,eth_close,bnb_open,bnb_close,usdt_open,usdt_close,sol_open,sol_close
0,0,2022-05-11 20:00:00,29575.44,28302.10,29294.85,12546.53,3.629059e+08,28381.05,167525.22,2.895957e+08,2.010590e+09,2.300185e+09,2.132561e+08,1.317591e+09,1.530847e+09,3.148131e+08,6.212428e+09,6.527242e+09,2111.34,2035.44,270.60,266.24,0.9977,0.9973,47.72,43.97
1,1,2022-05-11 21:00:00,29062.60,28087.41,28381.05,10480.22,2.981395e+08,29033.40,149909.15,2.851965e+08,2.071564e+09,2.356760e+09,2.101435e+08,1.369293e+09,1.579437e+09,3.105886e+08,6.065145e+09,6.375733e+09,2035.44,2089.41,266.24,269.53,0.9973,0.9978,43.97,46.99
2,2,2022-05-11 22:00:00,29182.25,28474.63,29033.40,5513.78,1.589880e+08,28792.95,115264.57,1.902491e+08,1.432327e+09,1.622577e+09,1.464666e+08,8.188565e+08,9.653228e+08,2.169687e+08,5.422037e+09,5.639006e+09,2089.41,2078.91,269.53,269.77,0.9966,0.9962,46.99,47.68
3,3,2022-05-11 23:00:00,29019.79,28550.67,28792.95,3651.01,1.050706e+08,29017.21,87264.50,1.354793e+08,1.029173e+09,1.164652e+09,1.043824e+08,5.740295e+08,6.784119e+08,1.584795e+08,5.352560e+09,5.511040e+09,2078.91,2077.83,269.77,270.59,0.9962,0.9959,47.68,50.82
4,4,2022-05-12 00:00:00,30085.67,28913.99,29017.21,7054.05,2.087661e+08,29750.31,130759.51,2.409674e+08,1.691784e+09,1.932752e+09,1.694271e+08,1.030014e+09,1.199441e+09,2.658333e+08,5.441226e+09,5.707059e+09,2077.83,2144.86,270.59,275.89,0.9971,0.9976,50.82,51.99

In [3]:
bit_df['hourly_return'] = 0
bit_df['3_hourly_return'] = 0
bit_df['5_hourly_return'] = 0
bit_df['12_hourly_return'] = 0

for i in range(1, len(bit_df.index)):
    bit_df['hourly_return'][i] = bit_df['close'][i] - bit_df['close'][i-1]

for i in range(3, len(bit_df.index)):
    bit_df['3_hourly_return'][i] = bit_df['close'][i] - bit_df['close'][i-3]
    
for i in range(5, len(bit_df.index)):
    bit_df['5_hourly_return'][i] = bit_df['close'][i] - bit_df['close'][i-5]
    
for i in range(12, len(bit_df.index)):
    bit_df['12_hourly_return'][i] = bit_df['close'][i] - bit_df['close'][i-12]

In [4]:
#bit_df['%change'] = ((bit_df['close'] - bit_df['open'])/bit_df['open'])*100
bit_df['3_hourly_volatility'] = bit_df["hourly_return"].rolling(3).std()
bit_df['5_hourly_volatility'] = bit_df["hourly_return"].rolling(5).std()
bit_df['12_hourly_volatility'] = bit_df["hourly_return"].rolling(12).std()
bit_df['daily_volatility'] = bit_df["hourly_return"].rolling(24).std()

In [5]:
bit_df = bit_df[(bit_df['datetime'] >= '2022-07-01') & (bit_df['datetime'] < '2023-07-01')]
bit_df.sort_values('datetime', inplace = True)
bit_df.reset_index(drop = True, inplace = True)

In [6]:
bit_df.drop('Unnamed: 0', axis = 1, inplace = True)

In [7]:
bit_df.head()

,datetime,high,low,open,volumefrom,volumeto,close,hourly_volume,top_tier_volume_quote,top_tier_volume_base,top_tier_volume_total,cccagg_volume_quote,cccagg_volume_base,cccagg_volume_total,total_volume_quote,total_volume_base,total_volume_total,eth_open,eth_close,bnb_open,bnb_close,usdt_open,usdt_close,sol_open,sol_close,hourly_return,3_hourly_return,5_hourly_return,12_hourly_return,3_hourly_volatility,5_hourly_volatility,12_hourly_volatility,daily_volatility
0,2022-07-01 00:00:00,20817.65,19647.29,19908.49,6823.65,1.381081e+08,20262.66,143641.30,1.413396e+08,1.734342e+09,1.875681e+09,1.023345e+08,1.014878e+09,1.117212e+09,1.706061e+08,1.915078e+09,2.085684e+09,1069.53,1093.82,219.48,222.58,0.9992,0.9987,33.74,34.44,354.17,1464.85,1379.49,1072.73,493.599288,460.540694,348.583077,286.091957
1,2022-07-01 01:00:00,20444.21,20231.53,20262.66,3183.32,6.471331e+07,20380.14,64012.17,6.423249e+07,8.010797e+08,8.653122e+08,4.611965e+07,4.423495e+08,4.884692e+08,8.518715e+07,8.941570e+08,9.793442e+08,1093.82,1095.07,222.58,225.22,0.9987,0.9985,34.44,34.87,117.48,1506.73,1646.43,1531.40,476.384009,411.796784,321.143744,286.846382
2,2022-07-01 02:00:00,20504.52,20238.04,20380.14,2262.26,4.603065e+07,20266.86,48773.36,4.844529e+07,5.490071e+08,5.974524e+08,3.446238e+07,3.276693e+08,3.621317e+08,7.538542e+07,6.256688e+08,7.010542e+08,1095.07,1091.22,225.22,225.60,0.9985,0.9982,34.87,34.77,-113.28,358.37,1469.05,1165.98,233.731269,446.529586,325.557403,287.855508
3,2022-07-01 03:00:00,20276.63,19668.22,20266.86,3603.45,7.212081e+07,19703.32,65925.93,5.869008e+07,8.222572e+08,8.809473e+08,4.438665e+07,4.956181e+08,5.400048e+08,7.742932e+07,9.239673e+08,1.001397e+09,1091.22,1053.55,225.60,220.97,0.9982,0.9980,34.77,33.61,-563.54,-559.34,829.91,583.05,346.355426,592.302312,377.555379,310.682042
4,2022-07-01 04:00:00,19713.40,19352.87,19703.32,3932.58,7.685356e+07,19376.97,84503.60,7.795704e+07,2.074082e+09,2.152039e+09,5.267009e+07,6.085733e+08,6.612434e+08,1.007285e+08,2.285414e+09,2.386143e+09,1053.55,1048.59,220.97,219.20,0.9980,0.9981,33.61,32.55,-326.35,-1003.17,-531.52,257.76,225.237648,360.433506,392.813183,317.146276

In [8]:
trend_df = pd.read_csv('Data/trends.csv')
trend_df.head()

   Unnamed: 0                 date  BTC  Bitcoin  btc/bitcoin
0           0  2022-05-01 00:00:00   23       55           78
1           1  2022-05-01 01:00:00   19       50           69
2           2  2022-05-01 02:00:00   19       45           64
3           3  2022-05-01 03:00:00   15       46           61
4           4  2022-05-01 04:00:00   19       43           62

In [9]:
trend_df = trend_df[(trend_df['date'] >= '2022-07-01') & (trend_df['date'] < '2023-07-01')]
trend_df.sort_values('date', inplace = True)
trend_df.reset_index(drop = True, inplace = True)
trend_df.drop('Unnamed: 0', axis = 1, inplace = True)

In [10]:
trend_df.rename(columns={"date": "datetime"}, inplace = True)
trend_df.head()

              datetime  BTC  Bitcoin  btc/bitcoin
0  2022-07-01 00:00:00   23       77          100
1  2022-07-01 01:00:00   23       90          113
2  2022-07-01 02:00:00   21       71           92
3  2022-07-01 03:00:00   21       69           90
4  2022-07-01 04:00:00   22       75           97

In [11]:
sentiment_df = pd.read_csv('Data/reddit_sentiment.csv')
sentiment_df.head()

,Unnamed: 0,Datetime,Comments,Pos_score,Neg_score,Compound_score,Polarity
0,0,2022-07-01 00:00:00,"['Earn coins while browsing the web', 'Who is ...",0.090867,0.064867,0.115550,0
1,1,2022-07-01 01:00:00,['New York denies air permit to Bitcoin mining...,0.098000,0.066744,0.034856,0
2,2,2022-07-01 02:00:00,['You guys need to quit buying so we can get t...,0.132773,0.042909,0.103223,0
3,3,2022-07-01 03:00:00,"['El Salvador bought today 80 #BTC at $19,000 ...",0.109960,0.044840,0.166612,0
4,4,2022-07-01 04:00:00,"['I’m wet.', 'The World News Bitcoin in United...",0.093640,0.058400,0.132120,0

In [12]:
sentiment_df.drop('Unnamed: 0', axis = 1, inplace = True)
sentiment_df.rename(columns={"Datetime": "datetime"}, inplace = True)

In [13]:
bit_df['datetime'] = pd.to_datetime(bit_df['datetime'], infer_datetime_format=True)
trend_df['datetime'] = pd.to_datetime(trend_df['datetime'], infer_datetime_format=True)
sentiment_df['datetime'] = pd.to_datetime(sentiment_df['datetime'], infer_datetime_format=True)

In [14]:
trend_aggregate = trend_df.groupby('datetime',  as_index=False).sum()

In [15]:
trend_aggregate

                datetime  BTC  Bitcoin  btc/bitcoin
0    2022-07-01 00:00:00   23       77          100
1    2022-07-01 01:00:00   23       90          113
2    2022-07-01 02:00:00   21       71           92
3    2022-07-01 03:00:00   21       69           90
4    2022-07-01 04:00:00   22       75           97
...                  ...  ...      ...          ...
8732 2023-06-30 19:00:00   27       93          120
8733 2023-06-30 20:00:00   29       92          121
8734 2023-06-30 21:00:00   31       95          126
8735 2023-06-30 22:00:00   26       84          110
8736 2023-06-30 23:00:00   24       90          114

[8737 rows x 4 columns]

In [16]:
trend_list = []
for i in range(len(bit_df.index)):
    if bit_df['datetime'][i] in trend_aggregate['datetime'].unique():
        row = trend_aggregate[trend_aggregate['datetime'] == bit_df['datetime'][i]]
        row.reset_index(inplace = True)
        trend_list.append(row['btc/bitcoin'][0])
    else:
        trend_list.append(np.nan)

In [17]:
bit_df['trend_score'] = trend_list

In [18]:
sentiment_aggregate = sentiment_df.groupby('datetime',  as_index=False).sum()

In [19]:
pos_list = []
neg_list = []
comp_list = []
pol_list = []
for i in range(len(bit_df.index)):
    if bit_df['datetime'][i] in sentiment_aggregate['datetime'].unique():
        row = sentiment_aggregate[sentiment_aggregate['datetime'] == bit_df['datetime'][i]]
        row.reset_index(inplace = True)
        pos_list.append(row['Pos_score'][0])
        neg_list.append(row['Neg_score'][0])
        comp_list.append(row['Compound_score'][0])
        pol_list.append(row['Polarity'][0])
    else:
        pos_list.append(np.nan)
        neg_list.append(np.nan)
        comp_list.append(np.nan)
        pol_list.append(np.nan)

In [20]:
bit_df['Pos_score'] = pos_list
bit_df['Neg_score'] = neg_list
bit_df['Compound_score'] = comp_list
bit_df['Polarity'] = pol_list

### Dealing with null values

In [21]:
bit_df.isnull().sum()

datetime                  0
high                      0
low                       0
open                      0
volumefrom                0
volumeto                  0
close                     0
hourly_volume             0
top_tier_volume_quote     0
top_tier_volume_base      0
top_tier_volume_total     0
cccagg_volume_quote       0
cccagg_volume_base        0
cccagg_volume_total       0
total_volume_quote        0
total_volume_base         0
total_volume_total        0
eth_open                  0
eth_close                 0
bnb_open                  0
bnb_close                 0
usdt_open                 0
usdt_close                0
sol_open                  0
sol_close                 0
hourly_return             0
3_hourly_return           0
5_hourly_return           0
12_hourly_return          0
3_hourly_volatility       0
5_hourly_volatility       0
12_hourly_volatility      0
daily_volatility          0
trend_score              23
Pos_score                 3
Neg_score                 3
Compound_score            3
Polarity                  3
dtype: int64

In [22]:
bit_df['trend_score'].fillna((bit_df['trend_score'].mean()), inplace=True)
bit_df['Pos_score'].fillna((bit_df['Pos_score'].mean()), inplace=True)
bit_df['Neg_score'].fillna((bit_df['Neg_score'].mean()), inplace=True)
bit_df['Compound_score'].fillna((bit_df['Compound_score'].mean()), inplace=True)
bit_df['Polarity'].fillna(0, inplace=True)

In [23]:
bit_df.head()

,datetime,high,low,open,volumefrom,volumeto,close,hourly_volume,top_tier_volume_quote,top_tier_volume_base,top_tier_volume_total,cccagg_volume_quote,cccagg_volume_base,cccagg_volume_total,total_volume_quote,total_volume_base,total_volume_total,eth_open,eth_close,bnb_open,bnb_close,usdt_open,usdt_close,sol_open,sol_close,hourly_return,3_hourly_return,5_hourly_return,12_hourly_return,3_hourly_volatility,5_hourly_volatility,12_hourly_volatility,daily_volatility,trend_score,Pos_score,Neg_score,Compound_score,Polarity
0,2022-07-01 00:00:00,20817.65,19647.29,19908.49,6823.65,1.381081e+08,20262.66,143641.30,1.413396e+08,1.734342e+09,1.875681e+09,1.023345e+08,1.014878e+09,1.117212e+09,1.706061e+08,1.915078e+09,2.085684e+09,1069.53,1093.82,219.48,222.58,0.9992,0.9987,33.74,34.44,354.17,1464.85,1379.49,1072.73,493.599288,460.540694,348.583077,286.091957,100.0,0.090867,0.064867,0.115550,0.0
1,2022-07-01 01:00:00,20444.21,20231.53,20262.66,3183.32,6.471331e+07,20380.14,64012.17,6.423249e+07,8.010797e+08,8.653122e+08,4.611965e+07,4.423495e+08,4.884692e+08,8.518715e+07,8.941570e+08,9.793442e+08,1093.82,1095.07,222.58,225.22,0.9987,0.9985,34.44,34.87,117.48,1506.73,1646.43,1531.40,476.384009,411.796784,321.143744,286.846382,113.0,0.098000,0.066744,0.034856,0.0
2,2022-07-01 02:00:00,20504.52,20238.04,20380.14,2262.26,4.603065e+07,20266.86,48773.36,4.844529e+07,5.490071e+08,5.974524e+08,3.446238e+07,3.276693e+08,3.621317e+08,7.538542e+07,6.256688e+08,7.010542e+08,1095.07,1091.22,225.22,225.60,0.9985,0.9982,34.87,34.77,-113.28,358.37,1469.05,1165.98,233.731269,446.529586,325.557403,287.855508,92.0,0.132773,0.042909,0.103223,0.0
3,2022-07-01 03:00:00,20276.63,19668.22,20266.86,3603.45,7.212081e+07,19703.32,65925.93,5.869008e+07,8.222572e+08,8.809473e+08,4.438665e+07,4.956181e+08,5.400048e+08,7.742932e+07,9.239673e+08,1.001397e+09,1091.22,1053.55,225.60,220.97,0.9982,0.9980,34.77,33.61,-563.54,-559.34,829.91,583.05,346.355426,592.302312,377.555379,310.682042,90.0,0.109960,0.044840,0.166612,0.0
4,2022-07-01 04:00:00,19713.40,19352.87,19703.32,3932.58,7.685356e+07,19376.97,84503.60,7.795704e+07,2.074082e+09,2.152039e+09,5.267009e+07,6.085733e+08,6.612434e+08,1.007285e+08,2.285414e+09,2.386143e+09,1053.55,1048.59,220.97,219.20,0.9980,0.9981,33.61,32.55,-326.35,-1003.17,-531.52,257.76,225.237648,360.433506,392.813183,317.146276,97.0,0.093640,0.058400,0.132120,0.0

In [24]:
bit_df['time_of_the_day'] = np.nan
for i in range(len(bit_df.index)):
    bit_df['time_of_the_day'][i] = bit_df['datetime'][i].hour

In [25]:
bit_df['day'] = bit_df['datetime'].dt.day_name()
bit_df['day_of_month'] = bit_df['datetime'].dt.day

In [26]:
bit_df['weekend'] = 0
for i in range(len(bit_df.index)):
    if bit_df['day'][i] == 'Sunday' or bit_df['day'][i] == 'Saturday':
        bit_df['weekend'][i] = 1

In [27]:
#bit_df['time_index'] = bit_df['datetime'].dt.time
bit_df.head()

,datetime,high,low,open,volumefrom,volumeto,close,hourly_volume,top_tier_volume_quote,top_tier_volume_base,top_tier_volume_total,cccagg_volume_quote,cccagg_volume_base,cccagg_volume_total,total_volume_quote,total_volume_base,total_volume_total,eth_open,eth_close,bnb_open,bnb_close,usdt_open,usdt_close,sol_open,sol_close,hourly_return,3_hourly_return,5_hourly_return,12_hourly_return,3_hourly_volatility,5_hourly_volatility,12_hourly_volatility,daily_volatility,trend_score,Pos_score,Neg_score,Compound_score,Polarity,time_of_the_day,day,day_of_month,weekend
0,2022-07-01 00:00:00,20817.65,19647.29,19908.49,6823.65,1.381081e+08,20262.66,143641.30,1.413396e+08,1.734342e+09,1.875681e+09,1.023345e+08,1.014878e+09,1.117212e+09,1.706061e+08,1.915078e+09,2.085684e+09,1069.53,1093.82,219.48,222.58,0.9992,0.9987,33.74,34.44,354.17,1464.85,1379.49,1072.73,493.599288,460.540694,348.583077,286.091957,100.0,0.090867,0.064867,0.115550,0.0,0.0,Friday,1,0
1,2022-07-01 01:00:00,20444.21,20231.53,20262.66,3183.32,6.471331e+07,20380.14,64012.17,6.423249e+07,8.010797e+08,8.653122e+08,4.611965e+07,4.423495e+08,4.884692e+08,8.518715e+07,8.941570e+08,9.793442e+08,1093.82,1095.07,222.58,225.22,0.9987,0.9985,34.44,34.87,117.48,1506.73,1646.43,1531.40,476.384009,411.796784,321.143744,286.846382,113.0,0.098000,0.066744,0.034856,0.0,1.0,Friday,1,0
2,2022-07-01 02:00:00,20504.52,20238.04,20380.14,2262.26,4.603065e+07,20266.86,48773.36,4.844529e+07,5.490071e+08,5.974524e+08,3.446238e+07,3.276693e+08,3.621317e+08,7.538542e+07,6.256688e+08,7.010542e+08,1095.07,1091.22,225.22,225.60,0.9985,0.9982,34.87,34.77,-113.28,358.37,1469.05,1165.98,233.731269,446.529586,325.557403,287.855508,92.0,0.132773,0.042909,0.103223,0.0,2.0,Friday,1,0
3,2022-07-01 03:00:00,20276.63,19668.22,20266.86,3603.45,7.212081e+07,19703.32,65925.93,5.869008e+07,8.222572e+08,8.809473e+08,4.438665e+07,4.956181e+08,5.400048e+08,7.742932e+07,9.239673e+08,1.001397e+09,1091.22,1053.55,225.60,220.97,0.9982,0.9980,34.77,33.61,-563.54,-559.34,829.91,583.05,346.355426,592.302312,377.555379,310.682042,90.0,0.109960,0.044840,0.166612,0.0,3.0,Friday,1,0
4,2022-07-01 04:00:00,19713.40,19352.87,19703.32,3932.58,7.685356e+07,19376.97,84503.60,7.795704e+07,2.074082e+09,2.152039e+09,5.267009e+07,6.085733e+08,6.612434e+08,1.007285e+08,2.285414e+09,2.386143e+09,1053.55,1048.59,220.97,219.20,0.9980,0.9981,33.61,32.55,-326.35,-1003.17,-531.52,257.76,225.237648,360.433506,392.813183,317.146276,97.0,0.093640,0.058400,0.132120,0.0,4.0,Friday,1,0

In [28]:
bit_df.to_csv("Data/bitcoin without lag.csv", index = False)

#### Generating sequenced data

In [171]:
# # function for windowed data:
# def create_window(data, window_steps = 0, future_steps = 0):
#     li = list(data)
#     li1 = []
#     for i in range(1, window_steps+1):
#         li1.append("I" + str(i))
#     for j in range(1, future_steps+1):
#         li1.append("O" + str(j))

#     main = []
#     main.append(li1)
#     for k in range(len(li)-(window_steps + future_steps -1)):
#         sub = []
#         for l in range(0, window_steps + future_steps):
#             sub.append(li[k+l])
#         main.append(sub)

#     output_df = pd.DataFrame(main[1:], columns=main[0])
#     return output_df

In [172]:
#apple_day1 = create_window(day1["AAPL"], window_steps = 20, future_steps = 5)

#### Creating images from sequence

In [173]:
# train = pd.read_csv('apple_train.csv')
# test = pd.read_csv('apple_test.csv')
# val = pd.read_csv('apple_val.csv')

In [174]:
# # Function for saving images:
# def create_graphs(data, window_steps = 20, path = ""):
#     for i in range(len(data)):
#         li1 = list(data.iloc[i, 0:window_steps])
#         li2 = list(data.iloc[i,])
#         plt.plot(li1)
#         plt.xticks(np.arange(0, 20, 1), rotation = 90)
#         plt.savefig(f'{path}/Input/input{i}.png')
#         plt.close()

#         plt.plot(li2)
#         plt.xticks(np.arange(0, 25, 1), rotation = 90)
#         plt.savefig(f'{path}/Output/output{i}.png')
#         plt.close()

In [175]:
#create_graphs(train[0:12000], window_steps = 20, path = r"C:\Users\viren\Essex\Dissertation\Images\Apple\Train")

In [176]:
# plt.rcParams['figure.dpi'] = 60
# plt.plot(day1["close"].loc[0:60,])
# plt.show()
# plt.close()

# plt.rcParams['figure.dpi'] = 60
# plt.plot(day1["close"].loc[0:61,])
# plt.show()

In [177]:
#bit_day1 = create_window(day1["Difference"], window_steps = 60, future_steps = 15)